{% extends "admin/base_admin.html" %}

{% block title %}Insurance App - Добавление клиента{% endblock %}

{% block body %}

<header>
  <h1>Новый клиент</h1>
</header>

<form method="post" action="/AddUser/submit" class="userDetails">
  <label for name>имя</label>
  <input placeholder="Имя" name="name" id="name"></input>
  <label for surname>фамилия</label>
  <input placeholder="Фамилия" name="surname" id="surname"></input>
  <label for street>улица</label>
  <input placeholder="Улица, дом" name="street" id="street"></input>
  <label for city>город</label>
  <input placeholder="Город" name="city" id="city"></input>
  <label for postcode>почтовый индекс</label>
  <input placeholder="Почтовый  индекс" name="postcode" id="postcode"></input>
  <label for email>электронная почта</label>
  <input placeholder="электронная почта" name="email" id="email"></input>
  <label for phone>номер телефона</label>
  <input placeholder="номер телефона" name="phone" id="phone"></input>
  <div class="submit" style="padding: 0">
    <a href="/Admin/view">Назад</a>
    <button type="submit" value="сохранить изменения">сохранить изменения</button>
  </div>

</form>
{% endblock %}
