{% extends "admin/base_admin.html" %}

{% block title %}Insurance App - персональные данные клиента
{% endblock %}

{% block body %}

<header>
  <h1>Новый клиент</h1>
</header>

{% if userData is empty %}
<div class="errorMessage">
  поля пустые.
</div>

{% else %}
<div class="errorMessage">
  Новый клиент добавлен:
</div>

<table class="editMessage">
  <tr>
    {% for key, value in dataLabel %}
    <td>{{ value }}:</td>

    {% for key, value in userData|slice(key,1) %}
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endif %}

<p>
  <a href="/AddUser/view">Вернуться к добавлению пользователей</a>
</p>

{% endblock %}
